{% extends 'base.html.twig' %}

{% block body %}
{# Message #}
{% import "layout/alert.html.twig" as message %}

<div class="container-form col-12">
	<h2 class="h2 text-center">Créer un article</h2>
	<form method="post" action="index.php?access=post&action=create" enctype="multipart/form-data">
		<div class="form-group">
			<label>Titre</label>
			<input type="text" name="title" id="title" class="form-control" value="{{ post.title }}" required>
			{{ errors['title'] is defined ? message.alert(errors['title'], 'danger') : "" }}
		</div>
		<div class="form-group">
			<label>Choisissez l'image principale de l'article</label>
			<input type="file" name="picture" id="picture" accept=".png, .jpg, .jpeg">
		</div>
		<div class="form-group">
			<label>Rentrez une courte description de l'article</label>
			<textarea name="chapo" id="chapo" rows="5" class="form-control" required>{{ post.chapo }}</textarea>
			{{ errors['chapo'] is defined ? message.alert(errors['chapo'], 'danger') : "" }}
		</div>
		<div class="form-group">
			<label>Rentrez le contenu de l'article</label>
			<textarea name="content" id="content" rows="5" class="form-control" required>{{ post.content }}</textarea>
			{{ errors['content'] is defined ? message.alert(errors['content'], 'danger') : "" }}
		</div>
		<button class="btn btn-secondary" name="submit" type="submit">Créer</button>
	</form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}