{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
      <div class="row">
        {# Posts #}
        <main class="post blog-post col-lg-8"> 
          <div class="container">
            <div class="post-single">
              {# Message #}
              {% import "layout/alert.html.twig" as message %}
              {% if success %}
              {{ message.alert("Merci pour votre contribution ! Le commentaire va être étudié puis validé dans les plus brefs délais.", 'success') }}
              {% endif %}
              <div class="post-thumbnail"><img src="img/blog-post-3.jpeg" alt="..." class="img-fluid"></div>
              <div class="post-meta d-flex justify-content-between">
                <div class="date meta-last created-at">{{ "Mis à jour le " ~ post[0].updated_at|date("d/m/Y", "Europe/Paris") }}</div>
              </div>
              <div class="post-details">
                <h1>{{ post[0].title }}</h1>
                <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                    <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid"></div>
                    <div class="text-muted">{{ post[0].first_name ~ ' ' ~ post[0].last_name }}</div>
                </div>
                <div class="post-body">
                  <p class="lead">{{ post[0].chapo }}</p>
                  <p>{{ post[0].content }}</p>
                </div>
                <hr>
                <div class="post-comments">
                  <header>
                    <h3 class="h6">Post Comments<span class="no-of-comments">({{ countComment[0].countComment }})</span></h3>
                  </header>
                  {% for comment in comments %}
                    <div class="comment">
                      <div class="comment-header d-flex justify-content-between">
                        <div class="user d-flex align-items-center">
                          <div class="image"><img src="{{ imgUsers }}/user.svg" alt="..." class="img-fluid rounded-circle"></div>
                          <div class="title"><strong>{{ comment.first_name ~ ' ' ~ comment.last_name }}</strong><span class="date">{{ comment.created_at|date("d/m/Y", "Europe/Paris") }}</span></div>
                        </div>
                      </div>
                      <div class="comment-body">
                        <p>{{ comment.content }}</p>
                      </div>
                    </div>
                  {% endfor %}
                </div>
                {# Test if user has a session #}
                {% if session['user'] is defined %}
                  <div class="add-comment">
                    <header>
                      <h3 class="h6">Laisser un commentaire</h3>
                    </header>
                    <form action="index.php?access=comment&action=create&idPost={{ post[0].id }}" method="post" enctype="multipart/form-data" class="commenting-form">
                      <div class="row">
                        <div class="form-group col-md-12">
                          <textarea name="content" id="content" placeholder="Ecrivez votre commentaire"
                            class="form-control"></textarea>
                        </div>
                        <div class="form-group col-md-12">
                          <button type="submit" class="btn btn-secondary">Envoyer un commentaire</button>
                        </div>
                      </div>
                    </form>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </main>
        {# Include widget search & last post #}
        {% include "layout/widget.html.twig" %}
      </div>
    </div>
{% endblock %}