{% extends 'base.html.twig' %}

{% block body %}
{# Message #}
{% import "layout/alert.html.twig" as message %}

<div class="container-form col-12">
	<h2 class="h2 text-center">Mettre à jour un article un article</h2>
	<form method="post" action="index.php?access=post&id={{ idPost is defined ? idPost : post[0].id }}&action=update" enctype="multipart/form-data">
		<div class="form-group">
			<label>Titre</label>
			<input type="text" name="title" id="title" class="form-control" required
				value="{{ post.title is defined ? post.title : post[0].title }}">
			{{ errors['title'] is defined ? message.alert(errors['title'], 'danger') : "" }}
		</div>
		<div class="form-group">
			<label>Choisissez l'image principale de l'article</label>
			<input type="file" name="picture" id="picture" accept=".png, .jpg, .jpeg">
		</div>
		<div class="form-group">
			<label>Rentrez une courte description de l'article</label>
			<textarea name="chapo" id="chapo" class="form-control" rows="5"
				required>{{ post.chapo is defined ? post.chapo : post[0].chapo }}</textarea>
			{{ errors['chapo'] is defined ? message.alert(errors['chapo'], 'danger') : "" }}
		</div>
		<div class="form-group">
			<label>Rentrez le contenu de l'article</label>
			<textarea name="content" id="content" class="form-control" rows="5"
				required>{{ post.content is defined ? post.content : post[0].content }}</textarea>
			{{ errors['content'] is defined ? message.alert(errors['content'], 'danger') : "" }}
		</div>
		<button class="btn btn-secondary" name="submit" type="submit">Modifier</button>
	</form>
</div>
{% endblock %}

{% block footer %}
{% endblock %}