<div class="titre-avatar">
	<h2>Mettre à jour votre compte</h2>
</div>

<form method="post" action="index.php?access=account&id={{ user['id'] }}&action=update" enctype="multipart/form-data">
	<h3>Nom</h3>
	<input type="text" name="last_name" id="last_name" required value="{{ user['last_name'] }}">
	<h3>Prénom</h3>
	<input type="text" name="first_name" id="first_name" required value="{{ user['first_name'] }}">
	<h3>Email</h3>
	<input type="text" name="email" id="email" required value="{{ user['email'] }}">
	<div class="actions">
		<button class="btn btn-primary" name="submit" type="submit">Modifier</button>
	</div>
</form>

<a href="index.php?access=account&id={{ user['id'] }}&action=password">Changer votre mot de passe</a>